.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-create{
    width: 450px;
}
.task-edit{
    width: 100%;
}
.task-form{
    display: flex;
    flex-direction: column;
}

.task-lable{
    margin: 10px 0px;
}

.task-input{
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.task-button{
    margin: 10px 0px;
    padding: 10px;
    border:1px solid green;
    border-radius: 10px;
    background-color: green;
    color:white;
    font-size: 15px;
}

.update-button{
    background-color: rgb(43, 174, 226);
    border: none;
    border-radius: 20px;
}

.task-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.task-show{
    border: 1px solid purple;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.task-delete{
    width: 70px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    background-color: plum;
    color: #fff;
    margin-right: 10px;
}

.task-update{
    width: 70px;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    background-color: yellowgreen;
    color:#fff ;
}

